*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --light: oklch(96% 0.02 67);
  --dark: oklch(20% 0.01 285);
  color: light-dark(var(--dark), var(--light));
  background: light-dark(var(--light), var(--dark));
  text-wrap: pretty;
  text-rendering: optimizeLegibility;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
  text-shadow: 0.05em 0.05em 0.05em light-dark(#fff, #000);
}

a {
  color: inherit;
}
